<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="component.css">
  <title>Componnets</title>
</head>
<body>

  <!-- ACCORDION -->
  <!-- first -->
  <div class="cus-accordion"
    data-title="Accordion Title"
    data-body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci error qui tempore impedit nisi dolorum voluptate eum sint veritatis incidunt voluptates placeat voluptatum sunt dicta aliquam tenetur, ea aliquid enim.">
  </div>
  <!-- second -->
  <div class="cus-accordion collapsed"
    data-title="Accordion Title"
    data-body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci error qui tempore impedit nisi dolorum voluptate eum sint veritatis incidunt voluptates placeat voluptatum sunt dicta aliquam tenetur, ea aliquid enim.">
  </div>

  <!-- CARD -->
  <div class="cus-card"
    data-label="best" 
    data-available=false
    data-url=""
    data-imgSrc="https://anua.us/cdn/shop/files/anua-toner-250ml-heartleaf-77-soothing-toner-44028528918806.jpg?v=1711507474&width=800"
    data-imgPlaceholder="https://anua.us/cdn/shop/files/anua-toner-250ml-heartleaf-77-soothing-toner-44278415261974.jpg?v=1713164193&width=800"
    data-title="HEARTLEAF 77% SOOTHING TONER" 
    data-price="$20.00" 
    data-rating="★★★★☆ (4.5)">
  </div>




  <script src="./component.js"></script>
</body>
</html>

